.container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cover_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    margin: 20px;
}

.image_preview{
    max-height: 400px;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.upload_button_container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    height: auto;
}

.recogniton_result_container{
    display: flex;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    flex-direction: column;
}

.result_text{
    font-size: 26px;
}

.result{
    margin-left: 10px;
    font-weight: 600;
    color: #32ba23;
}

.change{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.change:hover{
    color: var(--primary-color);
}

.next_button{
    width: 100%;
    max-width: 400px;
    height: 50px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease, background-color 0.4s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.next_button:hover{
    background-color: #32ba23;
}

.age_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.age_text{
    font-size: 26px;
}

.age_input{
    margin-left: 10px;
    width: 100%;
    height: 22px;
    position: relative;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 1024px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
}