html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --font-primary: "Open Sans";
  --main-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #2D3142;
  --primary-color: #40d130;
  --secondary-color: #ff88dc;
  --tertiary-color: #e2e90e;
  --quaternary-color: #ff3538;
  /* #FF4A1C */
  /* color-scheme: light dark; */
}


/* Splide */

/* *{
  outline: 4px solid green !important;
} */

.splide {
  max-width: 70%;
}

.splide__slide {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__pagination  {
 z-index: 0;
}

.splide__pagination__page.is-active {
  background: var(--primary-color);
}

.splide__arrow svg{
  fill: var(--primary-color);
}

@media (max-width: 700px) {
  .splide {
    max-width: 74%;
  }
}

/* 
.splide__arrow {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 50%;
} */

/* .splide__pagination__item {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0 5px;
  border-radius: 50%;
}

.splide__pagination__item.is-active {
  background-color: #007bff; 
}

.splide__play {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 20px;
}

.splide__track {
  padding: 10px;
} */