.container{
    display: flex;
    width: 80%;
    height: 100%;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.history_card{
    background-color: #4fcf3c;
    width: 90%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.datetime_container{
    margin-left: 20px;
}

.plant_name_container{
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .container{
        width: 100%;
    }
}